<!-- Link container-->
<div class="link-wrapper">
	<div class="link">

		<!-- Link title -->
		<div class="title">
			<%= link_to link.name, link.url, :target => '_blank', :class=> 'link', :id => link.id %>
		</div>

		<!-- Tags -->
		<div class="tag-list">
			<% if link.tags.any? %>
				<strong>Tags:</strong>
				<% link.tags.each_with_index do |tag, index| %>
					<% unless index == link.tags.size - 1 %>
						<%= link_to tag.name, tagged_url(:tag => tag.name), :class => 'tag', remote: :true %>,
					<% else %>
						<%= link_to tag.name, tagged_url(:tag => tag.name), :class => 'tag', remote: :true %>
  					<% end %>
				<% end %>
			<% end %>
		</div>

		<!-- Edit and delete links -->
		<span class="buttons">
			<%= link_to edit_link_path(link), remote: true do %>Edit<% end %>
	 		| <%= link_to link_path(link), :class => 'delete-button', remote: true, method: :delete do %>Delete<% end %>
		</span>
	</div>

	<!-- Horizontal row -->
	<hr>

</div>